

.sidebar {
    background-color: #343a40;
    height: calc(100vh - 56px);
}

.home {
    background-color: #eee;
    height: calc(100vh - 56px);
}

.price {
    background-color: yellow;
    width: fit-content;
}

form {
    /* max-width: 400px; */
    border: 1px solid rgb(204, 204, 204);
    padding: 15px;
    border-radius: 9px;
}